*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.head{
    text-align: center;
    font-size: 45px;
    color: rgb(70,12,12);
    margin-top: 30px;
}
.img{
    border-radius: 5px;
}
.main{
    display: flex;
    margin: 25px;
}
.parent{
    height: 450px;
    width: 300px;
    margin: 20px;
    background-color: white;
    display: inline-block;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 2px 2px 10px black;
}
.parent h2{
    color: rgb(12,60,106);
    margin: 15px;
}
.parent>p{
    color: rgb(2,10,37);
    margin: 15px;
}
#pages{
    text-align: center;
    margin: 40px;
}
#pages b{
    color: white;
    margin: 0px 10px;
    background-color: black;
    padding: 5px 10px;
}
chef{
    color: aliceblue;
}
#chefing{
    border-radius: 20px;
    margin: 30px;
    color: rgb(11, 240, 240);

}
.aboutchef{
    margin-bottom: 60px;
    padding: 20px 150px;
    color: blueviolet;
}
.aboutchef p{
    margin: 20px;
    color: cadetblue;
    font-size: 20px;

}
.parent1{
    width: 400px;
    background-color:white;

}
.footer{
    display:flex;
    margin: 10px;
    
}
.child{
    display:flex;
    margin:10px;

}
.menu p{
    color:aquamarine;
    margin: 8px 5px;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
}

