*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    text-align: center;
    font-size: 40px;
    color: orange;
    margin-top: 30px;
}
img{
    border-radius: 5px;
}
.main{
    display:flex;
    margin:25px;

}
.parent{
    height: 450px;
    width: 300px;
    margin: 20px;
    background-color: wheat;
    display: inline-block;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 2px 2px 10px black;
}
.parent h2{
    color: rgb(106,41,106);
    margin: 15px;
}
.parent>p{
    color:rgb(37,10,2);
    margin: 15px;
}
#pages{
    text-align: center;
    margin:40px;

}
#pages b{ 
    color: white;
    margin: 0px 10px;
    background-color: black;
    padding: 5px 10px;
}
#chef{
    color: rgb(8,214,90);
}
#chefing{
    border-radius: 20px;
    margin:30px;
    color:rgb(11,240,240)

}
.aboutchef{
    margin-bottom: 60px;
    padding: 20px 150px;
    color:rgb(219,40,9);

}
.aboutchef p{
    color: teal;
    margin: 20px;
    font-size: 17px;
}
.parent1{
    width: 400px;
    background-color: rgba(184,20,100,1);
}
.parent1 h3{
    color: rgb(106,41,106);
    margin: 15px;
    font-size: 25px;
}
.parent1 p{
    color:rgb(37,10,2);
    margin: 15px;
}
.footer{
    display: flex;
    margin: 10px;
}
.child{
    display: flex;
    margin: 15px 5px;

}
.menu p{
    color:rgb(200,100,100);
    background-color: rgb(106,41,106);
    padding: 5px;
    display: inline-block;
    margin: 8px 5px;
    border-radius: 5px;

}
.menu #select{
    background-color: black;
}
